<md-card>
  <md-card-title (click)="isExpanded=!isExpanded" fxLayoutAlign="none center">
    {{ password.service }}
    <span fxFlex></span>
    <button md-icon-button>
      <md-icon *ngIf="!isExpanded">lock</md-icon>
      <md-icon *ngIf="isExpanded">lock_open</md-icon>
      </button>
  </md-card-title>
  <div [class.hidden]="!isExpanded" class="hidden-content">
    <md-card-content>
      <div *ngIf="password.username" fxLayout>
        Username:<span fxFlex></span> {{ password.username }}
      </div>
      <div fxLayout>
        Password:<span fxFlex></span> {{ password.password }}
      </div>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end center">
      <button class="edit-btn" md-button type="button">Edit</button>
      <button class="delete-btn" md-button type="button">Delete</button>
    </md-card-actions>
  </div>
</md-card>
